body {
	background-color: black;
	color:white;
}

h1 {
	padding-top: 20px;
}

.score-board div {
	font-size: 40px;
}

#player1-score-board {
	background-color:red;
}

#player2-score-board {
	background-color: blue;
}

.game-square {
	padding-top: 30px;
	box-sizing: border-box;
}

.square {
	border-style: double;
	border-color: white;
	width: 30%;
	height: 200px;
}

.jogador1 {
	border-style: solid;
	border-color: red;
}

.jogador2 {
	border-style: solid;
	border-color: blue;
}

#game-controller-panel {
	padding-top: 20px;
}

#jog1_winner {
	color: black;
}

#jog2_winner {
	color: black;
}

#draw {
	color: black;
}