body {
	background-color: black;
	color:white;
}

.websocket-welcolme-section {
	width: 30%;
	height: 10%;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

.action_button {
	margin-top: 20px;
	margin-left: 10px;
}

.tv {
	border-style: solid;
	border-color: white;
}

.arduinoStats {
	border-style: solid;
	border-color: blue;
}

.streamStats {
	border-style: solid;
	border-color: red;
}

#disconnected {
	color: red;
}

#connected {
	color: red;
}